beautifulsoup4==4.11.1
lxml==4.9.1
html2text==2020.1.16
html5lib==1.1
urllib3==1.26.5
PySocks==1.7.1
timeout==0.1.2
MarkupSafe==2.0.1
awslambdaric==2.0.4
playwright_stealth==1.0.5
pandas==1.4.2
requests
sh==1.14.3
openpyxl==3.0.10
xlsxwriter==3.0.3
xlrd==2.0.1
xlrd3==1.1.0
mycli==1.26.1
litecli==1.9.0
reindent==3.5.1
autopep8==2.0.0
httpx==0.23.0
httpx[http2]
httpx[socks]
httpx[cli]
shellous==0.20.0
playwright==1.27.1
pandas==1.4.2
regex==2022.10.31
